# Streaming Project

Implement the following FlinkSQL query using mysql and python. The goal is emulating FlinkSQL behavior as close as possible.
-  you can tune the ingestion rate
-  you can implement the window semantics in the where clause or by micro batching
-  you can use triggers or any SQL construct that you know
-  you can assume that processing time and event time coincide
-  you can create as many supporting structure 
-  DON'T FORGET TO REMOVE OLD DATA (USING ANOTHER THREAD?)

## FLINK SQL Query

```sql 
SELECT
  TUMBLE_START(rowTime, INTERVAL '1' MINUTE) AS t,
  country
  COUNT(*) AS cnt
FROM click
GROUP BY country,   TUMBLE(rowTime, INTERVAL '1' MINUTE)
```

## Data Ingestion

In [ ]:
! pip install mysql-connector-python

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
  host="mysql",
  user="root",
  password="pass1234"
)


mycursor = mydb.cursor()

In [22]:
mycursor.execute("CREATE DATABASE stream")

DatabaseError: 1007 (HY000): Can't create database 'stream'; database exists

In [23]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('information_schema',)
('db',)
('graph',)
('mysql',)
('performance_schema',)
('stream',)
('sys',)

In [24]:
mycursor.execute("USE stream")

In [25]:
mycursor.execute("CREATE TABLE clicks (user VARCHAR(255), country VARCHAR(255), timestamp INT)")
for x in mycursor:
  print(x)

ProgrammingError: 1050 (42S01): Table 'clicks' already exists

In [26]:
userNames = ["Andy", "Bob", "Carl", "Dave", "Esther", "Fanny", "Gabe", "Imogen", "John", "Louis", "Monica"];

In [27]:
regionNames = ["America", "Europe", "Asia", "Australia", "Africa"];

In [29]:
import random
import sys
import time

batches_per_minute= 1000
batch_size = 500

while True:
    sql = "INSERT INTO clicks (user, country, timestamp) VALUES (%s, %s, %s)"
    for i in range(0,batches_per_minute):
        val = []
        for i in range(0,batch_size):
            val.append((random.sample(userNames, 1)[0],random.sample(regionNames, 1)[0], int(time.time())))
        mycursor.executemany(sql, val)
        mydb.commit()
    time.sleep(60)

KeyboardInterrupt:

# COPY THIS NOTEBOOK TO CONTINUE INGESTING IN PARALLEL

<img src="copy.png" alt="5" border="0">

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="mysql",
  user="root",
  password="pass1234"
)


mycursor = mydb.cursor()
mycursor.execute("USE stream")

In [ ]:
mycursor.execute("SELECT * FROM clicks LIMIT 10")
for x in mycursor:
  print(x)